
:root > * {
    --md-primary-fg-color: plum;
    --md-accent-fg-color: mediumorchid;
}

.lg {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}
.middle {
    font-size: 1.2em;
    font-weight: bold;
    color: #666;
}

.md-main__inner {
    margin-top: 0;
}

.md-blog-date {
    margin-bottom: 2em;
}

.recent_posts li {
    padding: 0.4em !important;
}
.recent_posts_date {
    color: #666;
}
.recent_posts a {
    font-size: larger;
}
